<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>lastproject.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherRegistration</servlet-name>
        <servlet-class>lastproject.TeacherRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseRegistration</servlet-name>
        <servlet-class>lastproject.CourseRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomRegistration</servlet-name>
        <servlet-class>lastproject.RoomRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCourse</servlet-name>
        <servlet-class>lastproject.deleteCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editTeacher</servlet-name>
        <servlet-class>lastproject.editTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseAssignment</servlet-name>
        <servlet-class>lastproject.CourseAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseSchedule</servlet-name>
        <servlet-class>lastproject.CourseSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginpage</servlet-name>
        <servlet-class>lastproject.Loginpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegistration</servlet-name>
        <servlet-class>lastproject.StudentRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editCourse</servlet-name>
        <servlet-class>lastproject.editCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteTeacher</servlet-name>
        <servlet-class>lastproject.deleteTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStudent</servlet-name>
        <servlet-class>lastproject.deleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OldServlet</servlet-name>
        <servlet-class>lastproject.OldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SweAssignedcourse</servlet-name>
        <servlet-class>lastproject.SweAssignedcourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherRegistration</servlet-name>
        <url-pattern>/TeacherRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseRegistration</servlet-name>
        <url-pattern>/CourseRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomRegistration</servlet-name>
        <url-pattern>/RoomRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCourse</servlet-name>
        <url-pattern>/deleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTeacher</servlet-name>
        <url-pattern>/editTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseAssignment</servlet-name>
        <url-pattern>/CourseAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseSchedule</servlet-name>
        <url-pattern>/CourseSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginpage</servlet-name>
        <url-pattern>/Loginpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegistration</servlet-name>
        <url-pattern>/StudentRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editCourse</servlet-name>
        <url-pattern>/editCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteTeacher</servlet-name>
        <url-pattern>/deleteTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStudent</servlet-name>
        <url-pattern>/deleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OldServlet</servlet-name>
        <url-pattern>/OldServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SweAssignedcourse</servlet-name>
        <url-pattern>/SweAssignedcourse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
</web-app>
